.App {
  text-align: center;
}

// General label used in forms.
.app-label {
  margin-right: 1ch;
  font-weight: 800;
}

// General radio button used in form. Keep distance to left elements (such as other radio buttons).
.app-radiobutton {
  margin-left: 1.5ch;
}
