$sidebar-color: #9ccbe8;
$sidebar-font-color: white;
$sidebar-font-color-selected: yellow;

.App {
  text-align: center;
}

// General label used in forms.
.app-label {
  margin-right: 1ch;
  font-weight: 800;
}

// General radio button used in form. Keep distance to left elements (such as other radio buttons).
.app-radiobutton {
  margin-left: 1.5ch;
}

.chart-container {
  width: 80%;
  height: 65vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
  align-items: center;
  text-align: center;
}

.filter-card {
  padding: 2ch;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

// Heading in a text or between charts
.heading {
  padding-top: 1.5vh;
  padding-bottom: 1vh;
  text-align: center;
  font-size: 1.5rem;
}

.no-result {
  margin: 5vh;
}

.sidebar {
    width: 32ch;
    height: 100%;
    background-color: $sidebar-color;
}

// Menu buttons (page buttons) in the header.
.sidebar-button {
    font-size: 1.25rem !important;
    color: $sidebar-font-color !important
}

// Active menu button (selected page).
.sidebar-button.active, .header-button:active {
    color: $sidebar-font-color-selected !important;
}